@mixin mobileFont {
  p {

    color: $lBlack;

  }


  h1 {

    color: $dBlack;

  }

  h2 {

    color: $dBlack;

  }

  h3 {

    color: $mBlack;

  }

  h4 {

    color: $mBlack;


  }

  h5 {

    color: $lBlack;


  }
}

@mixin tabletFont {
  p {

    color: $lBlack;

  }


  h1 {

    color: $dBlack;

  }

  h2 {


    color: $dBlack;

  }

  h3 {

    color: $mBlack;

  }

  h4 {

    color: $mBlack;

  }

  h5 {

    color: $lBlack;

  }



}

@mixin desktopFont {
  p {

    color: $lBlack;

  }


  h1 {

    color: $dBlack;

  }

  h2 {

    color: $dBlack;

  }

  h3 {

    color: $mBlack;

  }

  h4 {

    color: $mBlack;


  }

  h5 {

    color: $lBlack;

  }
}