@mixin mobileFont{
  p{
  font-size: 3em;
  font-weight: 500;
  }

  li {
    font-size: 3em;
    font-weight: 600;
  }
  h1{
    font-size:5.5em;
    font-weight: 600;
    color: $h1Color;
    letter-spacing: 0.05em;
  }
  h2{
    font-size: 5em;
    text-align: center;
    color:$h2Color;
    font-weight: 600;
  }
  h3 {
    font-size: 4em;
    color:$h3Color;
    font-weight: 600;
  }
  h4{
    font-size: 3.5em;
    color:$h4Color;
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  h5{
    font-size: 3em;
    font-weight: 500;
    color:$h5Color;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
}

@mixin tabletFont{
  p{
  font-size: 18px
  }
  h1{
    font-size:26px;
  }
  h2{
    font-size:24px;
  }
  h3 {
    font-size: 20px;
  }
}
@mixin desktopFont{
  p{
  font-size: 20px
  }
  h1{
    font-size:32px;
  }
  h2{
    font-size:26px;
  }
  h3 {
    font-size: 22px;
  }
}

