* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 100vw;
}
main {
  width: 100vw;
}


body {
  font-family: $defaultFont;
  background-color: $bGColorL;
}


section:nth-child(1n) {
  background-color: $bGColorL;
}

section:nth-child(2n) {
  background: #fff;
}


p {
  color: $pColor;
}

#footer {
  background-color: $bGColorD;

  p {
    color: #fff;
  }
}