* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}


body {

  min-width: 300px;
  font-family: $defaultFont;
  background-color: #F6F4F4;
}

main {
  width: 100%;
}

section:nth-child(1n) {
  background-color: #F6F4F4;
}

section:nth-child(2n) {
  background: #fff;
}


p {
  color: $pColor;

}

#footer {
  background-color: rgb(78, 78, 78);

  p {
    color: #fff;
  }
}