
$defaultFont: 'Noto Sans', sans-serif;
$h2Color: #333;
$h3Color: #333;
$h4Color: #555;
$h5Color: #555;
$pColor: #666666;
$bGColorL: #F9F9F9;
$bGColorD: #8D8686;
$BorderColorD: #b9b7b7;
$primaryColor: #A0283A;
$hoverColor: #ea9854; 
