@media (min-width: 1000px) {

  body {
    @include desktopFont;
  }

  // section:nth-child(1)  {

  // }

  #header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-right: 10%;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    color: #888;
    padding: 20px;
    font-size: 18px;
    transition: all 0.3s;
  }


  nav ul li a:hover {
    color: $hoverColor;
  }

  .nav-wrapper,
  .burger-btn-wrap {
    display: none;
  }


  // About

  .about {
    align-items: flex-start;
    width: 70%;
    padding: 0;

    h1 {
      width: 100%;
      text-align: left;
    }
  }

  .about-child01 {
    padding: 0;


  }

  .area-1-wrap {
    padding: 0;
    column-gap: 80px;
  }

  .area-1-wrap-child {
    justify-content: unset;
    padding: 0;
    width: 300px;

  }

  .area01-child02 {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
    row-gap: 0;
  }

  .area-1-wrap {
    display: flex;


  }

  .profile-img01 {
    width: 320px;
    height: 350px;
    border-radius: 62% 38% 42% 58% / 41% 46% 54% 59%;
    object-fit: cover;

  }

  .my-goal-img-wrap {
    padding: 0;
  }

  .mygoal-img {
    width: 320px;
    height: 350px;
    border-radius: 47% 53% 68% 32% / 53% 64% 36% 47% ;
    object-fit: cover;
  
  }



  .social {
    justify-content: flex-start;
    column-gap: 30px;
    padding: 0;

    i {
      font-size: 42px;
    }

  }

  .aboutme-wrap {
    flex-direction: row;
padding: 0;
column-gap: 100px;
    justify-content: space-around;

  }

  .design-skill,
  .coding-skill {
     width: 300px;
    padding: 10px 0;
    justify-content: unset;
    align-items: center;

  }



  .design-skill-child {
    row-gap: 35px !important;
    i {
      color: $primalyColor;
      font-size: 80px;
    }
  }

  .work01, .work02 {
    padding: 0;
  }

  .work-github {
    i {
      font-size: 38px;
    }
  }

  .area-3-child-wrap {
    flex-direction: row;
    width: 800px;
    padding: 0;
    justify-content: space-around;
    align-items: flex-start;

    .material-symbols-outlined {
      font-size: 100px;
    }
  }


  .educatio-n01 {
    h5 {
      font-size: 18px;
    }

  }

  .school {
    padding: 0;
    margin: 0;

    h4 {
      color: #333;
      font-size: 24px;
    }
  }

  .location-wrap {
    h5 {
      font-weight: 600;
    }

    h5,
    h4 {
      font-size: 18px;
    }

    span {
      font-size: 14px;
    }
  }



  .download-resume {
    margin: 0;
    margin-top: 20px;

    a {
      font-size: 21px;
    }
  }

  .mail-wrap>a {
    font-size: 21px !important;
  }

  .send-email-btn {
    height: 50px;
    width: 50px;
    font-size: 32px;

    a {
      font-size: 21px;
    }
  }

  .skill-detail ul {

    li {
      font-size: 21px;
    }

  }

  .education-card {
    padding: 0;
    width: 200px;
  }

  .education-01 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 100px;
  }

  #footer {

    height: 80px;

    p {
      font-size: 14px;
    }
  }

  // reason to work with me 
  .area-2-wrap {
    margin: 0;
  }

  .featured-work {
    margin: 0;
    flex-direction:
      row !important;
    justify-content: center;
    column-gap: 150px;
    max-width: 900px;
    align-items: unset !important;
  }


  .material-symbols-outlined {
    font-size: 20px;
  }

}