@media (min-width: 1000px) {

  body {
    @include desktopFont;
    p {
      font-size: 1.2em;
      font-weight: 500;
      line-height: 1.5em;
      }
    
      li {
        font-size: 2em;
        font-weight: 500;
      }
      h1{
        font-size:48px;
        font-weight: 600;
      
        line-height: 1.5em;
      }
      h2{
        font-size: 3em;
        text-align: center;
 
        font-weight: 600;
      }
      h3 {
        font-size:2em;
   
        font-weight: 500;
      }
  
      h4{
        font-size: 1.8em;
     
        font-weight: 500;
  
      }
    
      h5{
        font-size: 1.2em;
      
      
      }
  }


  #header {
    height: 7em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  section {
    padding: 6em!important;
  }

  .desktop-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 10%;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
    }
  }

  nav ul li a {
    // display: block;
    color: $lBlack;
    text-decoration: none;
    margin: 0 15px;
    column-gap: 10px;
    font-size: 18px!important;
    transition: all 0.3s;
  }


  nav ul li a:hover {
    opacity: $hovOpt;
    transition: 0.3s;
  }

  .nav-wrapper,
  .burger-btn-wrap, .bar {
    display: none!important;
  }


  // About
 
  .about {
    align-items: flex-start;
    width: 70%;
    padding: 0;
    h1 {
      width: 100%;
      text-align: left;
    }
  }

  .about-child01 {
    padding: 0;


  }

  .area-1-wrap {
    padding: 0;
    flex-direction: row;
    column-gap: 80px;
    max-width: 80%;
  }

  .area-1-wrap-child {
    justify-content: unset;
    padding: 0;
    width: 300px;

  }

  .area01-child02 {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
    row-gap: 0;
  }

  .area-1-wrap {
    display: flex;
  }

  .profile-img01 {
    width: 320px;
    height: 350px;
    border-radius: 62% 38% 42% 58% / 41% 46% 54% 59%;
    object-fit: cover;

  }

  .work-img {
    height: 250px;
    width: 100%;
    padding: 0;
   
  }

  .social {
    justify-content: flex-start;
    column-gap: 30px;
    padding: 0;

    i {
      font-size: 42px!important;
    }

  }

  .send-email-btn-nav {
    height: unset;
    border-radius: 5px;

    a {
      color: #fff;
      border-radius: 5px;
      display: flex;
      padding: 10px 15px;
      flex-direction: row;
      align-items: center;
      column-gap: 5px;
      background-color: $prColor;
    }
  }

  .aboutme-wrap {
    flex-direction: row;
    padding: 0;
    column-gap: 100px;
    justify-content: space-around;

  }

  .about-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    h2 {
     font-size: 4em;
    }

    p {
      text-align: center;
      width: 400px;
    }
  }

  .design-skill,
  .coding-skill {
    width: 30em;
    row-gap: 2em;
    justify-content: unset;
    align-items: center;

    h5 {
      display: unset !important;
    }

  }



  .design-skill-child {
    row-gap: 3em !important;

    i {
      font-size: 5em!important;
    }
  }

  .work01,
  .work02, .work03  {
    min-width:25%;
    row-gap: 2em;
    padding: 0;
    h4{
      width: 100%;
      font-weight: 600;
      text-align: center;
    }
  }

  .work-link {
    display: flex;
    flex-direction: row;
    display: flex;
    column-gap: 3em;
    padding-top: 0;

    a {
      font-weight: 500;
      font-size:3em !important;
      color: $prColor;
    }
    a:hover {
      opacity: $hovOpt;
      transition: 0.3s;
    }

  }

  .work-github {
    i {
      font-size: 38px!important;
    }
  }

  .area-3-child-wrap {
    flex-direction: row;
    max-width: 80%;
    padding: 0;
    justify-content: space-around;
    align-items: flex-start;

    .material-symbols-outlined {
      font-size: 100px!important;
    }
  }


  .educatio-n01 {
    h5 {
      font-size: 18px!important;
    }

  }

  .school {
    padding: 0;
    margin: 0;
    h4 {
      font-size: 1.5em;
      font-weight: 600;
    }

  
  }

  .location-wrap {
   row-gap: 0.5em;
   h5 {
    font-size: 1em;
   }

    span {
      font-size: 1em!important;
    }
  }



  .download-resume {
    margin: 0;
    margin-top: 20px;

    a {
      font-size: 21px!important;
    }
  }

  .mail-wrap {
    width: unset;
  }

  .mail-wrap>a {
    font-size: 21px !important;
  }

  .send-email-btn {
    height: 50px;
    width: 100%;
    font-size: 32px;

    a {
      font-size: 21px;
    }
  }

  #area-4 {

    padding-bottom: 10em;
  }

  .skill-detail {
    flex-direction: row!important;
    column-gap: 2em !important;

    ul {
      li {
        font-size: 1.2em!important;
       line-height: 2em !important;
      }

    }
  }

  .education-card {
    padding: 0;
    width: 25%;
  }

  .education-01 {
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 100px;
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10%;

    p {
      color: #fff;
      opacity: 0.8;
      font-size: 14px!important;
      letter-spacing: 1px;

    }
  }

  .info-footer {
    display: unset !important;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 5px;
    letter-spacing: 0.5px;

    aside {
      color: #fff;
      font-size: 18px!important;

      a {
        color: #fff;
      }

      a:hover {
        opacity: $hovOpt;
      }
    }
  }




  .area-2-wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5em;
    max-width: 80%;
    justify-content: center;
    h2 {
      padding: 0;
    }
  }

  .featured-work {
   
    display: flex;
    flex-wrap:wrap;
    flex-direction: row!important;
    margin: 0;
    justify-content: center;
    column-gap: 5em;
    row-gap: 5em!important;
    align-items: unset !important;
  }

  


  .material-symbols-outlined {
    font-size: 2em!important;
  }

  #area-1 {
    row-gap: 5em;
  }

  .area-4-wrap {
    width: unset;
  }



  .aboutme-wrap,
  .featured-work,
  .area-1-wrap,
  .area-3-child-wrap {
    display: flex;
    justify-content: center;
  
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s, opacity 1s, visibility 1s;
  }

  .is-fadein {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

.area-3-wrap {
padding: 0;
width: 100%;

}
}