@media (min-width: 1000px) {

  body {
    @include desktopFont;
  }


  #header {
    height: 100px;
    // width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .desktop-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 10%;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
    }
  }

  nav ul li a {
    // display: block;
    color: $lBlack;
    text-decoration: none;
    margin: 0 15px;
    column-gap: 10px;
    font-size: 18px;
    transition: all 0.3s;
  }


  nav ul li a:hover {
    opacity: $hovOpt;
    transition: 0.3s;
  }

  .nav-wrapper,
  .burger-btn-wrap, .bar {
    display: none!important;
  }


  // About

  .about {
    align-items: flex-start;
    width: 70%;
    padding: 0;

    h1 {
      width: 100%;
      text-align: left;
    }
  }

  .about-child01 {
    padding: 0;


  }

  .area-1-wrap {
    padding: 0;
    flex-direction: row;
    column-gap: 80px;
  }

  .area-1-wrap-child {
    justify-content: unset;
    padding: 0;
    width: 300px;

  }

  .area01-child02 {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
    row-gap: 0;
  }

  .area-1-wrap {
    display: flex;
  }

  .profile-img01 {
    width: 320px;
    height: 350px;
    border-radius: 62% 38% 42% 58% / 41% 46% 54% 59%;
    object-fit: cover;

  }

  .work-img {
    height: 250px;
    width: 100%;
    padding: 0;
   
  }

  .social {
    justify-content: flex-start;
    column-gap: 30px;
    padding: 0;

    i {
      font-size: 42px;
    }

  }

  .send-email-btn-nav {
    height: unset;
    border-radius: 5px;

    a {
      color: #fff;
      border-radius: 5px;
      display: flex;
      padding: 10px 15px;
      flex-direction: row;
      align-items: center;
      column-gap: 5px;
      background-color: $prColor;
    }
  }

  .aboutme-wrap {
    flex-direction: row;
    padding: 0;
    column-gap: 100px;
    justify-content: space-around;

  }

  .about-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    p {
      text-align: center;
      font-size: 18px;
      width: 400px;
    }
  }

  .design-skill,
  .coding-skill {
    width: 300px;
    padding: 10px 0;
    justify-content: unset;
    align-items: center;

    h5 {
      display: unset !important;
      font-size: 21px !important;
      font-weight: 600;
    }

  }



  .design-skill-child {
    row-gap: 35px !important;

    i {
      font-size: 80px;
    }
  }

  .work01,
  .work02, .work03  {
    width: 25%;
    row-gap: 20px;
    // min-width: 250px!important;
    padding: 0;
    h4{
      width: 100%;
      font-weight: 600;
      text-align: center;
    }
  }

  .work-link {
    display: flex;
    flex-direction: row;
    display: flex;
    column-gap: 30px;
    padding-top: 0;

    a {
      font-weight: 500;
      font-size: 18px;
      color: $prColor;
    }

  }

  .work-github {
    i {
      font-size: 38px;
    }
  }

  .area-3-child-wrap {
    flex-direction: row;
    width: 800px;
    padding: 0;
    justify-content: space-around;
    align-items: flex-start;

    .material-symbols-outlined {
      font-size: 100px;
    }
  }


  .educatio-n01 {
    h5 {
      font-size: 18px;
    }

  }

  .school {
    padding: 0;
    margin: 0;

    h4 {
      font-size: 24px;
    }
  }

  .location-wrap {
    h5 {
      font-weight: 600;
    }

    h5,
    h4 {
      font-size: 18px;
    }

    span {
      font-size: 14px;
    }
  }



  .download-resume {
    margin: 0;
    margin-top: 20px;

    a {
      font-size: 21px;
    }
  }

  .mail-wrap {
    width: unset;
  }

  .mail-wrap>a {
    font-size: 21px !important;
  }

  .send-email-btn {
    height: 50px;
    width: 100%;
    font-size: 32px;

    a {
      font-size: 21px;
    }
  }

  #area-4 {

    padding-bottom: 200px;
  }

  .skill-detail {

    row-gap: 5px !important;

    ul {
      padding-bottom: 20px;

      li {
        font-size: 18px !important;
        padding: 5px !important;
      }

    }
  }

  .education-card {
    padding: 0;
    width: 200px;
  }

  .education-01 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 100px;
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10%;

    p {
      color: #fff;
      opacity: 0.8;
      font-size: 14px;
      letter-spacing: 1px;

    }
  }

  .info-footer {
    display: unset !important;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 5px;
    letter-spacing: 0.5px;

    aside {
      color: #fff;
      font-size: 18px;

      a {
        color: #fff;
      }

      a:hover {
        opacity: $hovOpt;
      }
    }
  }


  .area-2-wrap {
    margin: 0;
    width: 90%;
    justify-content: center;
  }

  .featured-work {
    
    display: flex;
    flex-wrap:wrap;
    flex-direction: row!important;
    margin: 0;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px!important;
    align-items: unset !important;
  }

  


  .material-symbols-outlined {
    font-size: 20px;
  }

  #area-1 {
    row-gap: 100px;
  }

  .area-4-wrap {
    width: unset;
  }



  .aboutme-wrap,
  .featured-work,
  .area-1-wrap,
  .area-3-child-wrap {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s, opacity 1s, visibility 1s;
  }

  .is-fadein {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }




}