@media (min-width: 300px) {
  body {
    @include mobileFont;

  }


  section:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 5%;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop-header {
    display: none;
  }

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }

  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */

  /* 以下、ハンバーガーボタン */
  .burger-btn-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .burger-btn {
    position: fixed;
    display: block;
    right: 5em;
    top: 5em;
    z-index: 3;
  }

  .bar {
    background-color: $mBlack;

    display: block;
    height: 1em;
    border-radius: 3em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 6em;

  }

  .bar_top {
    top: 2em;
  }

  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);

  }

  .bar_bottom {
    bottom: 2em;
  }

  .burger-btn.close .bar_top {
    transform: translate(-50%, -3em) rotate(45deg);
    transition: transform 0.3s;
  }

  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .burger-btn.close .bar_bottom {
    transform: translate(-50%, 2em) rotate(-45deg);
    transition: transform 0.3s;
  }

  /* スクロール制御 */
  .noscroll {
    overflow: hidden;
  }

  /* 以下、ハンバーガーメニュー */
  .nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
    /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }

  .header-nav {
    background: $bgColorL;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .nav-list {
    list-style: none;
    font-size: 1.5em;
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);

  }

  .nav-item {
    margin-bottom: 1em;
    margin-right: 0;

    a {
      text-decoration: none;
      color: $mBlack;

    }

  }

  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }

  .nav-wrapper.close {
    opacity: 0;
    transition: opacity .3s;
  }

  .aboutme-wrap {
    display: flex;
    flex-direction: column;


    padding: 0 5em;
    row-gap: 3em;
  }

  .design-skill,
  .coding-skill {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    justify-content: center;
    padding: 8em 0 0 0;

    .design-skill-child {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 5em;
    }

    i {
      color: $mBlack;;


    }



    h3 {
      width: 100% !important;
      text-align: center!important;
    }

    .skill-detail,
    .coding-skill {

      display: flex;
      flex-direction: column;
      row-gap: 5px;

      li {
        list-style-type: none;
        font-size: 3em;
        color: $mBlack;
        padding-bottom: 1em;
      }

      h4 {
        font-size: 2.5em;
        font-weight: 800;
      }

      h5 {
        display: none;
      }
    }



  }
  .about-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    p {
      width: 90%;
      text-align: center;
      font-size: 3em;
    }
  }

  .about-child01 {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 1em;
    padding: 6em 5em 0 5em;

    h1 {
      text-align: left;
      span {
        color: $prColor;
      }

    }

    >aside {
      color: $lBlack;
      font-size: 3em;
      font-weight: 500;
    }
  }

  .about-child02 {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 25px;
    justify-content: center;
    align-items: center;

  }


  .profile-img01,
  .mygoal-img {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
  }

  .area01-child02 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 3em;
    width: 100%;
    padding: 1em 0;
  }

  .fa-github,
  .fa-linkedin {
    color: #888;
    font-size: 5em;
  }


  // About
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    padding: 50px 0;
  }

  .fa-object-ungroup,
  .fa-code {
    font-size: 8em;
    color: #333;
    text-align: center;
    width: 100%;
  }



  // FEATURED WORK
  .area-2-wrap .featured-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 5em;
    row-gap: 2em;
  }
  .work-img, .work-img {
    height: 30vh;
    width: 95vw;
  
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .work01,
  .work02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 5em;
    width: 90vw;

    h3 {
      width: 100%;
      text-align: center;
      color: #333;
    }

    .work-github {
      height: 3em;
      width: 3em;

    }
  }

  .work-link {
    padding-top: 1em;
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 5em;
    a {
      font-weight: 500;
      font-size: 3em;
      color:  $prColor
    }
   
  }

  .area-1,
  .area-2,
  .area-3,
  .area-4,
  .area-1-wrap-child-goal {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    justify-content: center;
  }

  .area-1-wrap .area-2-wrap,
  .area-3-wrap,
  .area-4-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5em;
    row-gap: 2em;
  }

  .area-1-wrap,
  .area-2-wrap,
  .area-3-wrap,
  .area-4-wrap {
    h2 {

      padding: 1em 0.8em;

    }
  }


  .area-3-child-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 5em 10em 5em;
    row-gap: 1em;

    .material-symbols-outlined {
      font-size: 10em;
      width: 100%;
      text-align: center;
      color: #333;
    }

    >h3 {
      width: 100%;
      text-align: center;
      width: 100%;
      padding-bottom: 0.4em;

    }
  }

  .area-1-wrap-child {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    padding: 5em 5em;



    // border-top: 1px solid #888;
    // border-bottom: 1px solid #888;


    h2 {
      width: 100%;
      text-align: center;
    }

    h3 {
      width: 100%;
      text-align: center;
    }

  }

  .area-1-wrap-child-goal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    h2 {
      width: 100%;
      text-align: center;
      padding-bottom: 1em;
    }
  }

  .my-goal-img-wrap,
  .my-goal-text-wrap {

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    align-items: center;
    padding: 5em 5em;
  }


  // Education
  .education-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    width: 100%;
    padding: 20px 0;


  }

  .location-wrap {

    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    color: #888;

    span {
      font-size: 4em;
    }

    h5 {
      font-size: 4em;
    }

    .material-symbols-outlined {
      font-size: 1em;
      color: #555;
    }
  }

  .education-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
  }

  .location-wrap {
    span {
      font-size: 3em;
    }
  }

  .school {
    padding-top: 1em;
    padding-bottom: 1.5em;

    h4 {
      font-size: 4em;
      font-weight: 600;
    }

    >a {
      text-decoration: none;
      color: #333;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      width: fit-content;
    }
  }

  .fa-arrow-up-right-from-square {
    font-size: 1em;
    padding-left: 0.5em;
  }

  .resume {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
    color: $prColor;

    font-size: 3em;

    .material-symbols-outlined {
      font-size: 1.5em;
    }


  }


  .download-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;

    a {
      font-weight: 600;
      font-size: 4em;
    }
  }



  .download-resume :hover {
    opacity: 0.8;
    transition: 0.2s;
  }

  // CONTACT 
  .area-4-wrap {
    display: flex;
    flex-direction: column;
    width: 80%;


    .mail-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5em;
      width: 100%;

      >i {
        color: $prColor;
        font-size: 10em;
      }

      >div {
        background-color: $prColor;
        font-size: 3em;
        text-align: center;
        width: 100%;
        color: #fff;
      }

      >a {
        font-size: 3em;
        text-align: center;
        width: 100%;
        text-decoration: none;
        color: #888;

      }
    }
  }

  .send-email-btn {
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 90%;

    font-size: 3em;

    a {
      text-decoration: none;
      color: #fff;
      display: flex;
      flex-direction: row;
      column-gap: 0.5em;
      font-weight: 600;

    }
  }

  .send-email-btn:hover {
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
  }

  // footer
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
    text-align: center;
   .info-footer {
    display: none;
   }
    p {
      font-size: 2.5em;
    }

  }
}