@media (min-width: 300px) {
  body {
    @include mobileFont
  }

  section:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 5%;
  }

  section {
    width: 100vw;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop-header {
    display: none;
  }

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }

  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */

  /* 以下、ハンバーガーボタン */
  .burger-btn-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .burger-btn {
    position: fixed;
    display: block;
    z-index: 3;
    margin-top: 10em;
    margin-right: 5em;
  }

  .bar {
    background-color: rgb(122, 47, 47);
    display: block;
    height: 1em;
    border-radius: 3em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 6em;

  }

  .bar_top {
    top: 2em;
  }

  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);

  }

  .bar_bottom {
    bottom: 2em;
  }

  .burger-btn.close .bar_top {
    transform: translate(-50%, -3em) rotate(45deg);
    transition: transform 0.3s;
  }

  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .burger-btn.close .bar_bottom {
    transform: translate(-50%, 2em) rotate(-45deg);
    transition: transform 0.3s;
  }

  /* スクロール制御 */
  .noscroll {
    overflow: hidden;
  }

  /* 以下、ハンバーガーメニュー */
  .nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
    /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }

  .header-nav {
    background: $bGColorL;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .nav-list {
    list-style: none;
    font-size: 4em;
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

  }

  .nav-item {
    margin-bottom: 1em;
    margin-right: 0;

    a {
      text-decoration: none;
      color: $primaryColor;
    }

  }

  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }

  .nav-wrapper.close {
    opacity: 0;
    transition: opacity .3s;
  }

  .aboutme-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
    width: 100%;
  }

  .design-skill,
  .coding-skill {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: center;
    align-items: flex-start;

    >h3 {
      width: 100%;
      text-align: center;
    }

    .skill-detail {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      h4 {
        font-size: 2.5em;
        font-weight: 800;
      }
    }

    li {
      font-size: 3em;
      color: #555;
      padding-bottom: 0.5em;
    }

  }

  .about-child01 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    >aside {
      color: $pColor;
      font-size: 3em;
      font-weight: 500;
    }
  }

  .about-child02 {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .profile-img01,
  .mygoal-img {
    width: 80vw;
    height: 60vh;
    object-fit: cover;
  }

  .area01-child02 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 3em;
    width: 100%;
    padding: 1em 0;
  }

  .fa-github,
  .fa-linkedin {
    color: #888;
    font-size: 3em;
  }


  // About
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    padding: 50px 0;
  }

  .fa-object-ungroup,
  .fa-code {
    font-size: 8em;
    color: #333;
    text-align: center;
    width: 100%;
  }



  // FEATURED WORK
.area-2-wrap
  .featured-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    row-gap: 2em;
  }

  .work01,
  .work02 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h3 {
      color: #333;
    }

    .work-github {
      height: 3em;
      width: 3em;

    }
  }

  iframe {
    height: 250px;
    width: 450px;
  }
  
.area-1,.area-2, .area-3, .area-4,
.area-1-wrap-child-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .area-1-wrap
  .area-2-wrap,
  .area-3-wrap,
  .area-4-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5em;
    width: 80%;
    margin: 5% 0;

  }


  .area-3-child-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    .material-symbols-outlined {
      font-size: 10em;
      width: 100%;
      text-align: center;
      color: #333;
    }

    >h3 {
      width: 100%;
      text-align: center;
      width: 100%;
      padding-bottom: 0.4em;
      border-bottom: 1px solid $BorderColorD;
    }
  }

  .area-1-wrap-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;

    // border-top: 1px solid #888;
    // border-bottom: 1px solid #888;
  

    h2 {
      width: 100%;
      text-align: center;
    }

    h3 {
      // padding-top: 10px;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }

  }

  .area-1-wrap-child-goal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    h2 {
      width: 100%;
      text-align: center;
      padding-bottom: 1em;
    }
  }
  .my-goal-img-wrap , .my-goal-text-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  // Education
  .education-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
    padding: 20px 0;

    aside {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      font-size: 3em;
      color: #888;
    }

  }

  .location-wrap {

    width: 100%;
    display: flex;
    row-gap: 5px;
    color: #888;

    span {
      font-size: 2.5em;
    }

    .material-symbols-outlined {
      font-size: 1em;
      color: #555;
    }
  }

  .education-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
  }

  .location-wrap {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  .school {
    h4 {
      font-weight: 600;
    }

    >a {
      text-decoration: none;
      color: #333;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      width: fit-content;
    }
  }

  .fa-arrow-up-right-from-square {
    font-size: 1em;
    padding-left: 0.5em;
  }

  .resume {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
    border-bottom: 0.1em solid $primaryColor;
    color: $primaryColor;
    font-size: 3em;
    .material-symbols-outlined {
      font-size: 2em;
    }


  }






  .resume:hover {
    opacity: 0.8;
    transition: 0.2s;
  }

  // CONTACT 
  .area-4-wrap {
    display: flex;
    flex-direction: column;
    width: 80%;


    .mail-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5em;

      >i {
        color: $primaryColor;
        font-size: 10em;
      }

      >div {
        background-color: $primaryColor;
        
        font-size: 3em;
        text-align: center;
        width: 100%;
        color: #fff;
      }

      >a {
        font-size: 3em;
        text-align: center;
        width: 100%;
        text-decoration: none;
        color: #888;

      }
    }
  }

  .send-email-btn {
    background-color: $primaryColor;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    height: 3em;
    width: 90%;
    color: #fff;

    font-size: 3em;
  }
 
  .mail-wrap a:hover {
    opacity: 0.5;
    transition: 0.2s;
  }

  // footer
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    text-align: center;

    p {
      font-size: 1em;
    }

  }
}